# Node + pnpm
node_modules/
.pnpm-store/
.npmrc
.env
.env.local
.env.*.local
.pnpm-debug.log
*.tgz

# Hardhat
cache/
artifacts/
typechain-types/

# Logs + temp
*.log
.DS_Store
dist/
coverage/
coverage.json

# IDEs
.vscode/
.idea/

# Frontend build
.next/
out/
build/

# Misc
*.swp
*.swo
